@model Rocky.Models.ViewModels.HomeVM
@{
    ViewData["Title"] = "Home Page";
}
<div class="containt">
    <div class="text-center mb-3">
        <button class="btn btn-dark" data-filter="all">All</button>
        @foreach (Category c in Model.Categories)
        {
            <button class="btn btn-outline-secondary text-capitalize" data-filter="@c.Name.Trim().ToLower().Replace(' ', '-')">@c.Name</button>
        }
    </div>
    <div class="row">
        @foreach (Product p in Model.Products)
        {
            <partial name="_IndividualProductCard" model="p" />
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(() => {
            $("button[data-filter]").on("click", function() {
                const category = $(this).data("filter");
                const $products = $(".filterd")
                if (category === "all") return $products.show("1000");

                $products.not("." + category).hide(0, () =>
                    $products.filter("." + category).show("3000"));
            })
        })
    </script>
}